<!-- <pre>{{formGroup.valid| json}}</pre> -->
<pre>{{formGroup.value | json}}</pre>

<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-6 gap-y-4">
    <kn-text-input label="Title" formControlName="title" />
    <kn-select-input label="Publication Type" formControlName="publicationType">
      <option selected [value]="null">Select Type</option>
      <option *ngFor="let publicationType of publicationTypes" [value]="publicationType">{{publicationType}}</option>
    </kn-select-input>
    <kn-date-input label="Published Date" formControlName="publishedDate" />
    <kn-text-input label="Publisher" formControlName="publisher" />
    <kn-text-input label="ISBN" formControlName="isbn" />
    <kn-text-input label="Edition" formControlName="edition" />
    <kn-text-input label="Language" formControlName="language" />
    <kn-text-input label="Authors" formControlName="authorIds" />
    <kn-number-input label="Buying Price" formControlName="buyingPrice" />
    <kn-text-input label="Call Number" formControlName="callNumber" />
    <kn-number-input label="Copies Available" formControlName="copiesPurchased" />
    <kn-textarea-input label="Description" formControlName="description" />
  </div>
  <div class="flex flex-row-reverse mt-2">
    <input type="submit" value="Save" />
  </div>
</form>
