<div class="space-y-2">
    <div class="flex justify-between">
        <h2 class="text-xl font-bold">Publishers</h2>
        <a [routerLink]="['add']"
            class="bg-theme-gunmetal hover:bg-theme-rich-black active:bg-theme-rich-black text-white px-4 py-2">Add
            new</a>
    </div>
    <input [value]="searchText" (keyup)="onSearchTextChanged($event)" type="text" placeholder="Search text"
        class="border-theme-gunmetal border p-2 w-full" />
</div>
<ng-container *ngIf="queryRef.valueChanges | async as queryResult">
    <!-- <pre>{{queryResult | json}}</pre> -->
    <table>
        <thead>
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="queryResult?.data?.publishers?.items as data; else emptyData">
                <tr *ngFor="let item of data; let idx = index">
                    <td scope="col">{{idx + 1}}</td>
                    <td scope="col">{{item.name}}</td>
                    <td scope="col">{{item.description}}</td>
                    <td scope="col">{{item.contactInformation}}</td>
                    <td scope="col">
                        <div class="group relative">
                            <button class="px-3 py-2 hover:bg-theme-silver active:bg-theme-silver rounded-full">
                                <span class="material-symbols-sharp">
                                    more_vert
                                </span>
                            </button>
                            <div tabindex="0"
                                class="z-10 border bg-white invisible shadow-md w-30 absolute top-0 right-16 transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                                <div class="py-2">
                                    <a routerLink="update/{{item?.id}}"
                                        class="flex space-x-2 px-4 py-2 hover:bg-theme-silver active:bg-theme-silver">
                                        <span class="material-symbols-sharp my-auto">
                                            edit
                                        </span>
                                        <span class="my-auto">Update</span>
                                    </a>
                                    <!-- TODO: Pass full name -->
                                    <!-- <button (click)="deleteAuthor(item.id, item.firstName)"
                      class="flex space-x-2 px-4 py-2 hover:bg-theme-silver active:bg-theme-silver">
                      <span class="material-symbols-sharp my-auto">
                        delete
                      </span>
                      <span class="my-auto">Delete</span>
                    </button> -->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-template #emptyData>
                <tr>
                    <td colspan="100%" class="text-center">
                        No data to show
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>

    <div class="w-full inline-flex justify-center">
        <kn-pagination [totalCount]="queryResult.data.publishers?.totalCount" [pageSizes]="pageSizes"
            [pageSize]="pageSize" (pageChanged)="changePage($event)" (pageSizeChanged)="changePageSize($event)" />
    </div>
</ng-container>