<div class="space-y-3">
    <div class="flex justify-between">
        <h2 class="text-xl font-bold">Bibliographic Records</h2>
        <a [routerLink]="['create']" kn-button>
            <span class="material-symbols-rounded">add</span>
            New Record</a>
    </div>

    <kn-panel>
        <input
            [value]="searchText"
            (keyup)="onSearchTextChanged($event)"
            type="text"
            placeholder="Search text"
            class="border-theme-gunmetal border p-2 w-full"
        />
    </kn-panel>

    <kn-panel>
        <div class="flex justify-between">
            <div class="flex space-x-2 items-center">
                <p>Sort by: </p>
                <kn-select-input>
                    <option value="title">Title (A-Z)</option>
                    <option value="-title">Title (Z-A)</option>
                    <option value="author">Author (A-Z)</option>
                    <option value="-author">Author (Z-A)</option>
                </kn-select-input>
            </div>
            <div class="flex space-x-2 items-center">
                <p>View: </p>
                <div>
                    <button kn-button variant="outline">
                        <span class="material-symbols-rounded"> table </span>
                    </button>
                    <button kn-button variant="outline">
                        <span class="material-symbols-rounded"> grid_view</span>
                    </button>
                </div>
            </div>
        </div>
    </kn-panel>

    @if (queryRef.valueChanges | async; as queryResult) {
        <kn-panel [isLoading]="queryResult.loading">
            <table>
                <thead>
                <tr>
                    <th scope="col">Serial</th>
                    <th scope="col">Title | Author</th>
                    <th scope="col">Control Number</th>
                    <th scope="col">ISBN | ISSN</th>
                    <th scope="col">Publication & Distribution</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of queryResult?.data?.bibRecords?.items || []; track item; let idx = $index) {
                        <tr>
                            <td class="text-right">{{ idx + 1 }}</td>
                            <td>
                                <a [routerLink]="[item.id]">
                                    {{ item.titleStatement.title }}
                                </a>
                                <p class="text-sm text-theme-davys-gray">{{ item.titleStatement.statementOfResponsibility }}</p>
                            </td>
                            <td>{{ item.controlNumber }}</td>
                            <td>{{ item.internationalStandardBookNumbers.join(' | ') || '—' }}</td>
                            <td>
                                @for (pd of item.publicationDistributions || []; track pd) {
                                    <div class="text-sm">
                                        @if (pd.namesOfPublisher.length) {
                                            {{ pd.namesOfPublisher.join(', ') }}
                                        }
                                        @if (pd.datesOfPublication.length) {
                                            | {{ pd.datesOfPublication.join(', ') }}
                                        }
                                    </div>
                                }
                            </td>
                            <td>
                                <div class="flex text-sm text-shadow-theme-davys-gray">
                                    <a kn-button variant="transparent" [routerLink]="item.id">
                                        <span class="material-symbols-rounded"> visibility </span>
                                    </a>
                                    <a kn-button variant="transparent" [routerLink]="['update', item.id]">
                                        <span class="material-symbols-rounded"> edit_square </span>
                                    </a>
                                    <button kn-button variant="transparent">
                                        <span class="material-symbols-rounded"> delete </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="100%" class="text-center">No data to show</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="w-full inline-flex justify-center">
                <kn-pagination
                    [totalCount]="queryResult.data.bibRecords?.totalCount ?? 0"
                    [pageSize]="pageSize"
                    (pageChanged)="changePage($event)"
                    (pageSizeChanged)="changePageSize($event)"
                />
            </div>
        </kn-panel>
    }
</div>
