<header
    class="bg-theme-gunmetal text-white shadow-md py-4 px-6 top-0 left-0 right-0 fixed z-20"
>
    <div class="container mx-auto flex justify-between">
        <h1 class="text-2xl font-bold">কথনিকা</h1>
        <div class="flex items-center space-x-2">
            <div class="relative inline-block text-left">
                <div>
                    <button (click)="isNotificationVisible = !isNotificationVisible" (focusout)="isNotificationVisible = false"
                            [rounded]="true"
                            id="notification-btn"
                            kn-button>
                        <span class="material-symbols-sharp"> notifications </span>
                    </button>
                </div>

                <!--
                          Dropdown menu, show/hide based on menu state.
        
                          Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                @if (isNotificationVisible) {
                    <div
                        id="notification-container"
                        class="absolute right-0 z-10 mt-2 w-56 origin-top-right bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="menu-button"
                        tabindex="-1"
                    >
                        <div class="py-1">
                            <!-- Active: "bg-theme-silver text-gray-900", Not Active: "text-gray-700" -->
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-0"
                            >Account settings</a
                            >
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-1"
                            >Support</a
                            >
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-2"
                            >License</a
                            >
                            <button
                                type="submit"
                                class="text-gray-700 block w-full px-4 py-2 text-left text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-3"
                            >
                                Sign out Now
                            </button>
                        </div>
                    </div>
                }
            </div>
            <img
                alt="DP"
                class="rounded-full border-gray-500 max-w-10 max-h-10"
                src="https://picsum.photos/200"
            />
            <div class="relative inline-block text-left">
                <div>
                    <button (click)="isUserActionsVisible = !isUserActionsVisible"
                            (focusout)="isUserActionsVisible = false"
                            aria-expanded="true"
                            aria-haspopup="true"
                            id="user-action-btn"
                            kn-button
                            type="button"
                    >
                        John Doe
                        <span class="material-symbols-sharp">
              {{ isUserActionsVisible ? 'expand_less' : 'expand_more' }}
            </span>
                    </button>
                </div>

                <!--
                          Dropdown menu, show/hide based on menu state.
        
                          Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                @if (isUserActionsVisible) {
                    <div
                        id="user-action-container"
                        class="absolute right-0 z-10 mt-2 w-56 origin-top-right bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="menu-button"
                        tabindex="-1"
                    >
                        <div class="py-1">
                            <!-- Active: "bg-theme-silver text-gray-900", Not Active: "text-gray-700" -->
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-0"
                            >Account settings</a
                            >
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-1"
                            >Support</a
                            >
                            <a
                                href="#"
                                class="text-gray-700 block px-4 py-2 text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-2"
                            >License</a
                            >
                            <button
                                type="submit"
                                class="text-gray-700 block w-full px-4 py-2 text-left text-sm active:bg-theme-silver active:text-gray-900"
                                role="menuitem"
                                tabindex="-1"
                                id="menu-item-3"
                            >
                                Sign out
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</header>