<form>
  <div class="flex justify-between">
    <label>First Name</label>
    <input type="text" />
  </div>
  <div class="flex justify-between">
    <label>Last Name</label>
    <input type="text" />
  </div>
  <div class="flex justify-between">
    <label>Date of birth</label>
    <input type="date" />
  </div>
  <div class="flex justify-between">
    <label>Date of death</label>
    <input type="date" />
  </div>
  <div class="flex justify-between">
    <label>Nationality</label>
    <input type="text" />
  </div>
  <div>
    <label>Biography</label>
    <textarea></textarea>
  </div>
  <input type="submit" value="Save" class="bg-theme-gunmetal active:bg-theme-rich-black px-4 py-2 text-white" />
</form>
