@if (queryRef.valueChanges | async; as queryResult) {
    @if (!queryResult.error && !queryResult.errors && queryResult.data.bibRecord; as record) {

        <div class="flex flex-col lg:flex-row gap-4">
            <!-- Left Section -->
            <div class="flex-1 flex flex-col gap-4">
                <!-- Book Info -->
                <kn-panel>
                    <div class="flex flex-col sm:flex-row gap-2">
                        <div class="flex-1">
                            <h2 class="text-xl font-semibold">{{ record?.titleStatement?.title }}</h2>
                            <p class="text-sm text-gray-600 dark:text-gray-400">
                                by {{ record?.titleStatement?.statementOfResponsibility }}</p>
                            <div class="text-sm mt-1">
                                <ul class="list-inline">
                                    <li>ISBN: {{ record.internationalStandardBookNumbers.join(', ') }}</li>
                                    <li>ISSN:</li>
                                    <li>Control Number: {{ record.controlNumber }}</li>
                                </ul>
                            </div>
                            <div class="flex justify-between">
                                <div class="mt-4 text-sm">
                                    <p><strong>Publisher:</strong>
                                        <ng-container *ngIf="record.publicationDistributions?.length; else noPublisher">
                                            <ng-container
                                                *ngFor="let pd of record.publicationDistributions; let last = last">
                                                {{ pd.namesOfPublisher.length ? pd.namesOfPublisher.join(', ') : '' }}
                                                <span *ngIf="!last">; </span>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #noPublisher></ng-template>
                                    </p>
                                    <p><strong>Year:</strong>
                                        <ng-container *ngIf="record.publicationDistributions?.length; else noPubDate">
                                            <ng-container
                                                *ngFor="let pd of record.publicationDistributions; let last = last">
                                                {{ pd.datesOfPublication.length ? pd.datesOfPublication.join(', ') : '' }}
                                                <span *ngIf="!last">; </span>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #noPubDate></ng-template>
                                    </p>
                                    <p><strong>Edition:</strong></p>
                                    <p><strong>Pages:</strong>
                                        <ng-container *ngIf="record.physicalDescriptions?.length; else noPages">
                                            <ng-container
                                                *ngFor="let pd of record.physicalDescriptions; let last = last">
                                                {{ pd.extents.length ? pd.extents.join(', ') : '' }}<span *ngIf="!last">; </span>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #noPages></ng-template>
                                    </p>
                                    <p><strong>Language:</strong></p>
                                </div>
                                <div class="mt-4 text-sm">
                                    <p><strong>Call Number:</strong></p>
                                    <p><strong>Dewey:</strong></p>
                                    <p><strong>LC Class:</strong></p>
                                    <p><strong>Genre:</strong></p>
                                    <p><strong>Format:</strong></p>
                                </div>
                            </div>
                        </div>
                        <img [src]="record.coverImageUrl" [alt]="record?.titleStatement?.title || 'Book cover'"
                             class="w-32 h-48 bg-gray-300 dark:bg-gray-700 flex items-center justify-center"/>
                    </div>
                </kn-panel>

                <!-- Holdings & Availability -->
                <kn-panel panelTitle="Holdings & Availability">
                    <table>
                        <thead>
                        <tr>
                            <th>Item Type</th>
                            <th>Location</th>
                            <th>Call Number</th>
                            <th>Barcode</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of record.bibItems || []; track item; let idx = $index) {
                                <tr>
                                    <td>{{ item?.itemType }}</td>
                                    <td>{{ item?.location }}</td>
                                    <td>{{ item?.callNumber }}</td>
                                    <td>{{ item?.barcode }}</td>
                                    <td class="text-center">
                                        <kn-badge [content]="item?.status ?? ''"
                                                  [type]="item?.status === bibItemStatus.Available? 'success': item?.status === bibItemStatus.CheckedOut? 'warning': 'error'"/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </kn-panel>
            </div>

            <!-- Right Sidebar -->
            <div class="w-full lg:w-80 flex flex-col gap-4">
                <kn-panel>
                    <div class="flex flex-col gap-2">
                        <button kn-button>
                            <span class="material-symbols-rounded">front_hand</span>
                            Place Hold
                        </button>
                        <button kn-button>
                            <span class="material-symbols-rounded">edit_square</span>
                            Edit Record
                        </button>
                        <button kn-button>
                            <span class="material-symbols-rounded">content_copy</span>
                            Duplicate Record
                        </button>
                        <button kn-button>
                            <span class="material-symbols-rounded">share</span>
                            Share Record
                        </button>
                    </div>
                </kn-panel>

                <kn-panel panelTitle="Item Summary">
                    <div class="text-sm">
                        <p class="flex justify-between"><span>Total Copies:</span>
                            <span>{{ record.bibItems?.length ?? 0 }}</span></p>
                        <p class="flex justify-between">
                            <span>Available:</span>
                            <span>{{ itemCountByStatus(record?.bibItems, bibItemStatus.Available) }}</span>
                        </p>
                        <p class="flex justify-between">
                            <span>Checked Out:</span>
                            <span>{{ itemCountByStatus(record?.bibItems, bibItemStatus.CheckedOut) }}</span>
                        </p>
<!--                        <p class="flex justify-between"><span>On Hold:</span> <span>0</span></p>-->
                    </div>
                </kn-panel>

                <kn-panel panelTitle="Record History">
                    <div class="text-sm">
                        <p><strong>Created:</strong> {{ record.createdAt | date }}</p>
                        <p><strong>Created By:</strong> {{ record.createdByUserName }}</p>
                        <p><strong>Last Modified:</strong> {{ record.lastModifiedAt | date }}</p>
                        <p><strong>Modified By:</strong> {{ record.lastModifiedByUserName }}</p>
                        <p><strong>Source:</strong></p>
                    </div>
                </kn-panel>
            </div>
        </div>
    }
}