<div class="flex flex-col">
  <label [for]="control?.name">
    {{label}}
    <span *ngIf="isRequired()" class="text-theme-fire-red">*</span>
  </label>
  <input type="text" [id]="control?.name" [placeholder]="placeholder.length > 0? placeholder : label" [ngModel]="value"
    (ngModelChange)="onModelChange($event)" (blur)="onBlur()" [ngClass]="(control?.dirty || control?.touched)
  && !control?.valid ?
  'border-theme-fire-red placeholder:text-theme-fire-red placeholder:text-opacity-30'
  : 'border-theme-gunmetal'" class="peer border p-2 focus:ring-theme-rich-black" />
  <ul class="list-disc ml-4">
    <li *ngIf="(control?.dirty || control?.touched)
    && control?.hasError('required')" class="text-theme-fire-red">{{label}} is
      required</li>
  </ul>
</div>
